body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* header area start  */
.header_area {
    color: white;
    text-align: center;
    padding: 200px;
    background-image: url("../img/banner-3.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header_area h1 {
    font-size: 80px;
    margin: 0px;
}

.header_area p {
    font-size: 24px;
    margin-bottom: 60px;
}

.btn_link {
    border: none;
    color: white;
    font-size: 20px;
    background-color: orange;
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
}

/* header area end  */
/* donate area start  */
.donate_bg {
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.donate_area {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.donate_area h1 {
    font-size: 50px;
    letter-spacing: 1px;
}

.donate_area p {
    font-size: 24px;
    color: gray;
    letter-spacing: 1px;
}

.donate_area hr {
    margin-left: 300px;
    margin-right: 300px;
    /* margin-top: 30px; */
    margin-bottom: 50px;
}

.donate_area input {
    width: 50%;
    height: 30px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    outline-width: 0;
    border: none;
    /* background-color: rgb(253, 251, 247);
     border-radius: 5px; */
}

.donate_amount {
    display: flex;

    /* text-align: center; */
}

.donate_area .donate_amount {
    text-align: center;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.donate_area .donate_amount p {
    text-align: center;
    font-size: 50px;
    color: gray;
    background-color: rgb(238, 238, 247);
    border-radius: 5px;
    padding: 50px;
    margin: 10px;
}

.donate_area .donate_amount #item_2 {
    border: 3px solid orange;
    background-color: rgb(250, 243, 230);
}

/* donate area end  */
/* donate plan area start */
.header_donate_plan {

    text-align: center;
}

.header_donate_plan h1 {
    font-size: 50px;
}

.header_donate_plan p {
    color: gray;
    font-size: 25px;
}

.donate_plan {
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.donate_plan .item {
    background-color: rgb(238, 238, 247);
    border-radius: 5px;
    padding: 50px;
    margin: 10px;

}

.donate_plan .item p {
    color: rgb(87, 85, 85);
    font-size: 20px;
}

#donate_item_1 {
    /* color: black; */
    background-color: rgb(191, 236, 236);
    /* letter-spacing: 1px; */
}

#donate_item_3 {

    background-color: antiquewhite;
}

/* donate plan area end  */
/* experience area start  */
.experience_area {
    margin: 100px;
}

.experience_area .container_flex {
    display: flex;
}

.experience_area .half_width {
    width: 50%;
}

.experience_area img {
    width: 70%;
    margin-left: 150px;
}

.experience_area .special_font {
    font-size: 150px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
}

.experience_area .special_header {
    color: gray;
    font-size: 35px;
    padding-top: 10px;
    margin-left: 10px;
}


.experience_area .peragarph {
    margin-top: 30px;
    margin-bottom: 30px;
}

.experience_area #part_1 h1 {
    font-size: 50px;
    color: rgb(96, 158, 96);
    margin: 0px;
}

.experience_area #part_2 h1 {
    font-size: 50px;
    color: orange;
    margin: 0px;
}

.experience_area #part_3 h1 {
    font-size: 50px;
    color: tomato;
    margin: 0px;
}

.experience_area .peragarph p {
    color: gray;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px;
}

/* experience area end  */
/* get my update part start  */
.get_my_update {
    text-align: center;
    padding-bottom: 80px;
}

.get_my_update h1 {
    font-size: 50px;
}

.get_my_update p {
    color: gray;
    font-size: 25px;
}

.get_my_update .form {
    background-color: antiquewhite;
    padding: 120px;
    border-radius: 5px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* get my update part start */


.input_email {
    /* color: white; */
    border: none;
    border-radius: 5px;
    background-color: rgb(231, 228, 228);
    font-size: 20px;
    padding: 20px 80px;


}

/* footer area start  */
.footer_area {
    text-align: center;
    background-color: black;
    padding: 40px;
}

.footer_area h1 {
    font-style: italic;
    font-size: 40px;
}

.footer_area p {
    font-size: 18px;
    color: rgb(156, 153, 153);
}

/* footer area end  */