body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
}

.header_area {
    color: white;
    text-align: center;
    padding: 200px;
    background-image: url("../img/banner-3.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header_area h1 {
    font-size: 80px;
    margin: 0px;
}

.header_area p {
    font-size: 24px;
    margin-bottom: 60px;
}

.btn_link a {
    color: white;
    font-size: 20px;
    background-color: orange;
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
}

/* donate area start  */
.donate_area {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.donate_area h1 {
    font-size: 50px;
    letter-spacing: 1px;
}

.donate_area p {
    font-size: 24px;
    color: gray;
    letter-spacing: 1px;
}

.donate_area hr {
    margin-left: 300px;
    margin-right: 300px;
    /* margin-top: 30px; */
    margin-bottom: 50px;
}

.donate_area input {
    width: 50%;
    height: 30px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    outline-width: 0;
    border: none;
    /* background-color: rgb(253, 251, 247);
     border-radius: 5px; */
}

.donate_amount {
    display: flex;

    /* text-align: center; */
}

.donate_area .donate_amount {
    text-align: center;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.donate_area .donate_amount p {
    text-align: center;
    font-size: 50px;
    color: gray;
    background-color: rgb(238, 238, 247);
    border-radius: 5px;
    padding: 50px;
    margin: 10px;
}

.donate_area .donate_amount #item_2 {
    border: 3px solid orange;
    background-color: rgb(250, 243, 230);
}

/* donate area end  */
.header_donate_plan {

    text-align: center;
}

.header_donate_plan h1 {
    font-size: 50px;
}

.header_donate_plan p {
    color: gray;
    font-size: 25px;
}

.donate_plan {
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.donate_plan .item {
    background-color: rgb(238, 238, 247);
    border-radius: 5px;
    padding: 50px;
    margin: 10px;

}

.donate_plan .item p {
    color: rgb(87, 85, 85);
    font-size: 20px;
}

#donate_item_1 {
    color: black;
    background-color: rgb(191, 236, 236);
    letter-spacing: 1px;
}

.get_my_update {
    text-align: center;
}

.get_my_update h1 {
    font-size: 50px;
}

.get_my_update p {
    color: gray;
    font-size: 25px;
}

.get_my_update .form {
    background-color: antiquewhite;
    padding: 120px;
    border-radius: 5px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#donate_item_3 {
    margin: 10px;
}

.footer_area {
    text-align: center;
    background-color: black;
    padding: 40px;
}

.footer_area h1 {
    font-style: italic;
    font-size: 40px;
}

.footer_area p {
    font-size: 18px;
    color: rgb(156, 153, 153);
}